[submodule "so_long"]
	path = so_long
	url = git@github.com:Anouush/so_long.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:Anouush/minitalk.git
[submodule "philo"]
	path = philo
	url = git@github.com:Anouush/philo.git
